<!-- Header-->
<%= render partial: "layouts/header", locals: {heading: "Work with ECP"}  %>

<!-- Content-->
<div class="container p-5">
  <div class="row gx-5 justify-content-center">
    <div class="grid-container">
      <div class="grid-item"><h2 class="fw-bolder">District Leaders</h2></div>
      <div class="grid-item"><h2 class="fw-bolder">School Leaders and Educators</h2></div>
      <div class="grid-item"><h2 class="fw-bolder">Families and Community Members</h2></div>
      <div class="grid-item">
        <p>District leaders interested in working with ECP have a number of resources at their disposal. If you’re interested in our Quality Performance Assessment (QPA) work, we can help set you on a path toward authentically assessing what students know and can do. And if you’re interested in our School Quality Measures (SQM) work, we can help you create a framework that reflects what matters in your district, as well as identifying aligned indicators that will track your progress.</p>
        <p>ECP can also support districts that want to go even further in this work—supporting central office in analyzing data and crafting improvement strategies. One key resource we can offer is our free and open-source data dashboard that visualizes SQM results in a clear and easy-to-interpret way. </p>
      </div>

      <div class="grid-item">
        <p>Whether or not we are engaged with the district, the ECP team can support school-level work around both Quality Performance Assessments and School Quality Measures. This can happen across the whole building, with subject-specific or grade-level teams, or with smaller groups of educators interested in new approaches to assessment. </p>
        <p>School leaders and educators can use tools like performance assessments, student and teacher perception surveys, or team-oriented “walkthrough” protocols. Or you can work with the ECP team to design professional learning that responds to the need for fairer and more holistic ways of determining student and school progress.</p>
      </div>

      <div class="grid-item">
        <p>ECP is committed to including all stakeholders in addressing the challenges and possibilities of assessing student learning and school quality. ECP works directly with schools and districts, providing an alternative and authentic approach to determining what students know and can do (Quality Performance Assessment), and offering a broader and more democratic way of tracking school progress (School Quality Measures). But ECP also recognizes that family and community members are critical partners in supporting students and schools. Our team is committed to working with families and community members, building their capacity as change agents and including them in decision-making processes. </p>
        <p>We can collaborate with you to design formal presentations about assessment, organize support for grassroots activism, and develop plans for including families and community members in change efforts.</p>
      </div>
    </div>
    <div class="py-5">
      <p class="grid-item text-center h3">
      Our work together can begin with the ECP team talking with you or your group 
      about the need for an alternative approach to assessing student learning and school quality, 
      and about the free tools we offer.
      </p>
    </div>
  </div>
</div>
