<!-- Header-->
<%= render partial: "layouts/header", locals: {heading: "Work with ECP"}  %>

<!-- Content-->
<div class="container p-5">
  <div class="row gx-5 justify-content-center">
    <div class="alert alert-primary mb-3" >
      The Education Commonwealth Project provides free resources to rethink how school quality and student learning are measured.
    </div>
      <div class="grid-container">
        <div class="grid-item"><h2 class="fw-bolder">District Leaders</h2></div>
        <div class="grid-item"><h2 class="fw-bolder">School Leaders and Educators</h2></div>
        <div class="grid-item"><h2 class="fw-bolder">Families and Community Members</h2></div>
        <div class="grid-item">
          <p>District leaders interested in working with ECP have a number of resources at their disposal. If you’re interested in our Quality Performance Assessment (QPA) work, we can help set you on a path toward authentically assessing what students know and can do. And if you’re interested in our School Quality Measures (SQM) work, we can help you create a framework that reflects what matters in your district, as well as identifying aligned indicators that will track your progress.</p>
          <p>ECP can also support districts that want to go even further in this work—supporting central office in analyzing data and crafting improvement strategies. One key resource we can offer is our free and open-source data dashboard that visualizes SQM results in a clear and easy-to-interpret way. </p>
        </div>

        <div class="grid-item">
          <p>Whether or not we are engaged with the district, the ECP team can support school-level work around both Quality Performance Assessments and School Quality Measures. This can happen across the whole building, with subject-specific or grade-level teams, or with smaller groups of educators interested in new approaches to assessment. </p>
          <p>School leaders and educators can use tools like performance assessments, student and teacher perception surveys, or team-oriented “walkthrough” protocols. Or you can work with the ECP team to design professional learning that responds to the need for fairer and more holistic ways of determining student and school progress.</p>
        </div>

        <div class="grid-item">
          <p>ECP is committed to including all stakeholders in addressing the challenges and possibilities of assessing student learning and school quality. ECP works directly with schools and districts, providing an alternative and authentic approach to determining what students know and can do (Quality Performance Assessment), and offering a broader and more democratic way of tracking school progress (School Quality Measures). But ECP also recognizes that family and community members are critical partners in supporting students and schools. Our team is committed to working with families and community members, building their capacity as change agents and including them in decision-making processes. </p>
          <p>We can collaborate with you to design formal presentations about assessment, organize support for grassroots activism, and develop plans for including families and community members in change efforts.</p>
        </div>
      </div>

      <div class="py-5">
        <div class="alert alert-primary">
        Our work together can begin with the ECP team talking with you or your group 
        about the need for an alternative approach to assessing student learning and school quality, 
        and about the free tools we offer.
        </div>
      </div>

      <div class="container px-5">
        <div class="row gx-5 justify-content-center">
          <div class="accordion my-5" id="sqmAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button fs-4 fg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Who can use the resources?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p> The free and open-source tools are available to anyone for immediate download. </p>
                  <p> Maybe you are an educator interested in trying out a performance assessment in your classroom. Maybe you’re an elementary school principal interested in understanding the sense of belonging that exists at your school using field-tested perception surveys of teachers and students. Maybe you’re a parent of a school-aged child who is interested in how to get a fuller story of your child’s school quality. Maybe you’re a district superintendent interested in how to use other DESE data, beyond MCAS scores, to advocate for the needs of your schools. </p>
                  <p>Whatever your role, whatever your reason, ECP is making these tools available to you. </p>
                  <p>When you agree to the open-source licensing (in which you agree you don‘t intend to capitalize on our tools), you’ll register with ECP. If you indicate that you’re open to hearing from us, we may reach out to you.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button fs-4 fg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Why become an ECP partner?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p> We will work with you to build relationships between teachers, administration, districts, and community. We will provide support to use and customize resources to measure school quality and student learning in ways that reflect the values of your community. We can consult on how to use data to make informed policy decisions and how to leverage data to advocate for student needs. Your partnership with ECP will help you build capacity to join MCIEA as a member district if that is a direction you choose to pursue.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button fs-4 fg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  How to become an ECP partner:
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>When anyone in a district expresses interest in consulting with us or receiving support from us, we will reach out to engage all interested parties in meaningful ways with the project and project resources. We’re eager to work with communities who collectively recognize the value of alternative school quality and student learning measures. </p>
                  <p> Whatever your role, whatever your reason, you can initiate working with ECP. </p>
                  <%# TODO implement these links %>
                  <p> Click here for more information on:
                  ECP		 	SQM			QPA  		(links to other pages) </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


