<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="text-center my-5">
      <h2 class="h2 fw-bolder">How to Work with ECP</h2>
      <p> There are unlimited ways to engage with ECP! Here are some possibilities:
    </div>
    <div class="grid-container">
      <div class="grid-item"><h2 class="fw-bolder">District Leaders</h2></div>
      <div class="grid-item"><h2 class="fw-bolder">School Leaders</h2></div>
      <div class="grid-item"><h2 class="fw-bolder">Educators and Community Members</h2></div>
      <div class="grid-item">
        <p> District leaders can adopt the ECP data dashboard and use it to inform district improvement efforts. The district would administer student and teacher perception surveys, and the ECP team would collect all of the other data required for the dashboard analysis. ECP will also assist in the analysis of the data and its implications for improvement strategies. </p>
        <p> Districts may choose to build their own data dashboard using any components they want from the ECP dashboard, as well as any other components they identify as important to their own school communities. The ECP team will facilitate this customization process. </p>
        <p> For districts interested in joining the Massachusetts Consortium for Innovative Education Assessment, ECP will build their capacity to make this possible. </p>
      </div>

      <div class="grid-item">
        <p>If a school or district leader wants to launch the creation of performance assessments across an academic department, a grade level, or a school, ECP will provide the guidance and resources to do this successfully.</p>
        <p>School leaders can administer ECP’s student or educator perception surveys as standalone data collection instruments. These surveys have been rigorously field-tested, and the ECP team will offer support in survey data analysis.</p>
        <p>The ECP team can assist educational leaders in developing team-oriented “walkthroughs” as measures of school performance, and support the analysis of the data collected. </p>
      </div>

      <div class="grid-item">
        <p>Individual teachers who want to use high quality performance assessments for their students can access any of the numerous performance assessments that have already been developed and validated. If they want to design their own, the ECP team will provide guidance and coaching.</p>
        <p>ECP is available to work with educators who are interested in developing their own protocols for data use in professional learning communities or as part of other school improvement efforts.</p>
        <p>If families and community members want to learn more about assessment and accountability, ECP will give presentations that can be easily understood by people who do not work in the field of education. </p>
      </div>
    </div>
    <div class="py-5">
      <p class="grid-item text-center h3">
      Our work together can begin with the ECP team talking with you or your group 
      about the need for an alternative approach to assessing student learning and school quality, 
      and about the free tools we offer.
      </p>
    </div>
  </div>
</div>
