<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Work with ECP</h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container p-5">
  <div class="row gx-5 justify-content-center">
    <div class="grid-container">
      <div class="grid-item"><h2 class="fw-bolder">District Leaders</h2></div>
      <div class="grid-item"><h2 class="fw-bolder">School Leaders</h2></div>
      <div class="grid-item"><h2 class="fw-bolder">Educators and Community Members</h2></div>
      <div class="grid-item">
        <p> District leaders can adopt the ECP data dashboard and use it to inform district improvement efforts. The district would administer student and teacher perception surveys, and the ECP team would collect all of the other data required for the dashboard analysis. ECP will also assist in the analysis of the data and its implications for improvement strategies. </p>
        <p> Districts may choose to build their own data dashboard using any components they want from the ECP dashboard, as well as any other components they identify as important to their own school communities. The ECP team will facilitate this customization process. </p>
        <p> For districts interested in joining the Massachusetts Consortium for Innovative Education Assessment, ECP will build their capacity to make this possible. </p>
      </div>

      <div class="grid-item">
        <p>If a school or district leader wants to launch the creation of performance assessments across an academic department, a grade level, or a school, ECP will provide the guidance and resources to do this successfully.</p>
        <p>School leaders can administer ECP’s student or educator perception surveys as standalone data collection instruments. These surveys have been rigorously field-tested, and the ECP team will offer support in survey data analysis.</p>
        <p>The ECP team can assist educational leaders in developing team-oriented “walkthroughs” as measures of school performance, and support the analysis of the data collected. </p>
      </div>

      <div class="grid-item">
        <p>Individual teachers who want to use high quality performance assessments for their students can access any of the numerous performance assessments that have already been developed and validated. If they want to design their own, the ECP team will provide guidance and coaching.</p>
        <p>ECP is available to work with educators who are interested in developing their own protocols for data use in professional learning communities or as part of other school improvement efforts.</p>
        <p>If families and community members want to learn more about assessment and accountability, ECP will give presentations that can be easily understood by people who do not work in the field of education. </p>
      </div>
    </div>
    <div class="py-5">
      <p class="grid-item text-center h3">
      Our work together can begin with the ECP team talking with you or your group 
      about the need for an alternative approach to assessing student learning and school quality, 
      and about the free tools we offer.
      </p>
    </div>
  </div>
</div>


<div class="container px-5 my-5">
  <div class="row gx-5 justify-content-center">
    <h3 >Union Reps & Educators</h3>
    <ul>
      <li>Use field-tested, teacher-created, standards-aligned quality performance assessment in your classroom as a better measure of student learning</li>
      <li>Design your own quality performance assessments </li>
      <li>Use student perception surveys to gauge the needs of students </li>
      <li>Make data-driven decisions in your classrooms</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of your school’s quality with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>

    <h3>Building Admin</h3>
    <ul>
      <li>Use field-tested, teacher-created, standards-aligned quality performance assessments grade-wide as a better measure of student learning</li>
      <li>Host PLCs or Professional Development sessions for faculty to design your own school-wide quality performance assessments</li>
      <li>Use teacher and student perception surveys to capture a fuller picture of school quality and to gauge the needs of students</li>
      <li>Make data-driven decisions in your school</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of your school’s quality with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>

    <h3>District Leaders</h3>
    <ul>
      <li>Use field-tested, teacher-created, standards-aligned quality performance assessments district-wide as a better measure of student learning</li>
      <li>Host PLCs or Professional Development sessions for faculty to design school-wide or district-wide quality performance assessments</li>
      <li>Use teacher and student perception surveys to capture a fuller picture of school quality and to gauge the needs of students</li>
      <li>Make data-driven decisions in your district</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of school quality in your district schools with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>

    <h3>Community Members & Parents</h3>
    <ul>
      <li>Learn how field-tested, teacher-created, standards-aligned quality performance assessments district-wide are a better measure of student learning</li>
      <li>Use teacher and student perception surveys to capture a fuller picture of school quality and to gauge the needs of students</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of school quality with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>

    <h3>School Committee Members</h3>
    <ul>
      <li>Learn how field-tested, teacher-created, standards-aligned quality performance assessments district-wide are a better measure of student learning</li>
      <li>Use teacher and student perception surveys to capture a fuller picture of school quality and to gauge the needs of students</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of school quality with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>
  </div>
</div>
