<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">District Leaders</h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-5 my-5">
  <div class="row gx-5 justify-content-center">
    <h3 >Union Reps & Educators</h3>
    <ul>
      <li>Use field-tested, teacher-created, standards-aligned quality performance assessment in your classroom as a better measure of student learning</li>
      <li>Design your own quality performance assessments </li>
      <li>Use student perception surveys to gauge the needs of students </li>
      <li>Make data-driven decisions in your classrooms</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of your school’s quality with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>

    <h3>Building Admin</h3>
    <ul>
      <li>Use field-tested, teacher-created, standards-aligned quality performance assessments grade-wide as a better measure of student learning</li>
      <li>Host PLCs or Professional Development sessions for faculty to design your own school-wide quality performance assessments</li>
      <li>Use teacher and student perception surveys to capture a fuller picture of school quality and to gauge the needs of students</li>
      <li>Make data-driven decisions in your school</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of your school’s quality with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>

    <h3>District Leaders</h3>
    <ul>
      <li>Use field-tested, teacher-created, standards-aligned quality performance assessments district-wide as a better measure of student learning</li>
      <li>Host PLCs or Professional Development sessions for faculty to design school-wide or district-wide quality performance assessments</li>
      <li>Use teacher and student perception surveys to capture a fuller picture of school quality and to gauge the needs of students</li>
      <li>Make data-driven decisions in your district</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of school quality in your district schools with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>

    <h3>Community Members & Parents</h3>
    <ul>
      <li>Learn how field-tested, teacher-created, standards-aligned quality performance assessments district-wide are a better measure of student learning</li>
      <li>Use teacher and student perception surveys to capture a fuller picture of school quality and to gauge the needs of students</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of school quality with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>

    <h3>School Committee Members</h3>
    <ul>
      <li>Learn how field-tested, teacher-created, standards-aligned quality performance assessments district-wide are a better measure of student learning</li>
      <li>Use teacher and student perception surveys to capture a fuller picture of school quality and to gauge the needs of students</li>
      <li>Advocate for the needs of students using data</li>
      <li>Explore the data dashboard as a fuller representation of school quality with the potential to offset or replace the over-reliance on MCAS scores</li>
    </ul>
  </div>
</div>
