<!-- Header-->
<%= render partial: "layouts/header", locals: {heading: "Our Team"}  %>
<div class="container grid-container grid-container-400 py-7">
  <%  @team_members.each do | employee|  %>
    <article class="grid-item py-5 justify-content-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <%= image_tag "team/#{employee.short_name}.webp", class: "grid-item-image" %>
        <div class="py-3 grid-item-text text-center">
          <h3 class="spartan"><%= employee.name %></h3>
          <p><%= employee.title %></p>
        </div>
      </div>
    </article>
  <% end %>
</div>
