<!-- Header-->
<%= render partial: "layouts/header", locals: {heading: "School Quality Measures"}  %>

<!-- Accordions -->
<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-4 mt-5">
      <%= image_tag "sqm/framework_wheel.png", style: "width: 100%;"  %>
    </div>
    <div class="col-lg-8 accordion my-5" id="sqmAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button fs-4 fg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What Is SQM?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            SQM moves beyond test scores to reimagine how we understand and measure school quality. By drawing on a broad set of indicators that reflect school culture, student opportunity to learn, and social-emotional outcomes, SQM reflects the full range of what schools do. Just as importantly, SQM offers tools and practices designed to foster deeper understandings of school performance. Rather than offering summative evaluations of schools, SQM promotes inquiry and reflection about areas of strength and areas for growth.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Why SQM?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>By offering a fuller picture of schools, and by creating opportunities to better understand school performance, SQM takes a new approach to data use.</p>
            <p>SQM data can be used to drive continuous improvement by identifying school strengths and areas for growth. Because our dashboard allows school leaders to disaggregate data according to student race, gender and grade level, the SQM dashboard can be a critical part of district efforts to work towards greater educational equity.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Key Features of SQM
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <h3 class="fs-5">Aligning assessment with public values</h3>
            <p> SQM includes a wide range of indicators aligned with the domains of school quality that are valued by the public and supported by the educational research community. The SQM system seeks to honor and sustain the full mission of public schools. </p>
            <h3 class="fs-5">Drawing on multiple measures of school quality </h3>
            <p>SQM includes 34 indicators of school quality, seeking to paint a more accurate and valid picture of school performance. By using multiple measures, SQM moves beyond the narrow and overly simplistic notion of “good” and “bad” schools that shapes public opinion and public policy. </p>
            <h3 class="fs-5">Breaking the link between school measurement and social inequity</h3>
            <p>As research illustrates, student standardized test scores often indicate far more about out-of-school variables like family income than they do anything about actual school performance. As a result, schools serving marginalized and minoritized students are frequently misclassified as “bad” schools. SQM seeks to break the relationship between school quality measurement and social inequality by offering an approach to assessment that does not simply reflect demography. </p>
            <h3 class="fs-5">Embracing human decision making </h3>
            <p>SQM encourages inclusive, democratic deliberation and is rooted in the belief that educators and community members should be empowered to make meaningful decisions about their schools. In addition to support for assembling a clearer portrait of school performance, SQM also works with educators and community members to make sense of data.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            What SQM Resources Do We Provide?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
            <a class="text-decoration-none" href="https://mciea-dashboard.herokuapp.com/welcome">
              Explore the SQM Data Dashboard here 
              <i class="bi bi-arrow-right"></i>
            </a>
            </p>
            <p>
            <a class="text-decoration-none" href="https://www.mciea.org/uploads/1/2/0/7/120788330/mciea-sqm-framework-short-2018.pdf">
              See our Measures Menu Here
              <i class="bi bi-arrow-right"></i>
            </a>

            </p>
            <p>
            <a class="text-decoration-none" href="<%=  sqm_resources_path %>">
              Read the Research on SQM
              <i class="bi bi-arrow-right"></i>
            </a>

            </p>
            <p>
            <a class="text-decoration-none" href="<%= contacts_path %>">
              Speak with a Member of the SQM Team
              <i class="bi bi-arrow-right"></i>
            </a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
