<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">School Quality Measures</h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- SQM -->
<div class="container px-5 text-center">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-8 mt-5">
      <h1 class="page-header-ui-title mb-3 mt-5">What is SQM?</h1>

      <p> The School Quality Measures project (SQM) moves beyond test scores to reimagine how we understand and measure school quality. By drawing on a broad set of measures that includes social-emotional indicators, school culture indicators, and opportunity-to-learn indicators, SQM offers communities tools and practices that better reflect the full range of what schools do. From implementing new data sources, like student and teacher surveys, to visualizing data in new ways that go beyond ranking and rating, the SQM team is here to support Massachusetts districts as they work to assemble a fuller and more accurate portrait of their schools.</p>

      <h1 class="page-header-ui-title mt-5">Why SQM?</h1>

      <p>Traditional measurement and accountability systems, which rely heavily on standardized tests, have been plagued by a host of unintended consequences like teaching-to-the-test and the narrowing of educational aims. Moreover, such systems have been largely ineffective at advancing equity and supporting the work of school improvement. </p>
      <h1 class="mt-5">SQM is designed to address these shortcomings by:</h1>

      <h2>Aligning assessment with public values</h2>
      <p>The SQM approach includes a wide range of indicators  aligned with the domains of school quality that Americans value and that research supports. By assessing the many things that schools do, the SQM system seeks to honor and sustain the full mission of public schools. </p>

      <h2>Drawing on multiple measures of school quality </h2>
      <p>SQM includes 34 indicators of school quality, seeking to paint a more accurate and valid picture of school performance. By using multiple measures SQM moves beyond the narrow and overly simplistic notion of “good” and “bad” schools that drives inequity and dominates the contemporary education policy debate.</p>

      <h2>Breaking the link between school measurement and social inequity</h2>
      <p>Research shows that test scores are closely linked to demographics, such as student race and socio-economic status. To rely on test scores as the primary measures of school quality, then, is to reinforce existing inequities. SQM seeks to break the relationship between school quality measurement and educational inequity by offering a system of measurement that is not skewed by racial bias. </p>

      <h2>Embracing human decision making </h2>
      <p>SQM encourages inclusive, democratic deliberation and is rooted in the belief that educators and community members should be empowered to make meaningful decisions about their schools. Rather than rating and ranking schools like traditional accountability systems, SQM visualizes school quality data on a publicly accessible dashboard and ECP staff support school communities in sense-making of data. </p>

      <h1 class="mt-5">What SQM Resources Do We Provide?</h1>

      <p>
      <a class="text-decoration-none" href="#!">
        Read more about SQM's Free-and-Open SQM Data Dashboard here
        <i class="bi bi-arrow-right"></i>
      </a>
      </p>
      <p>
      <a class="text-decoration-none" href="#!">
        See our Measures Menu Here
        <i class="bi bi-arrow-right"></i>
      </a>

      </p>
      <p>
      <a class="text-decoration-none" href="#!">
        Read the Research on SQM
        <i class="bi bi-arrow-right"></i>
      </a>

      </p>
      <p>
      <a class="text-decoration-none" href="#!">
        Speak with a Member of the SQM Team
        <i class="bi bi-arrow-right"></i>
      </a>

      </p>
    </div>
  </div>
</div>
