.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

.grid-item {
  padding: 20px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.custom-shape-divider-bottom-triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-triangle svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
}

.custom-shape-divider-bottom-triangle .shape-fill {
  fill: #FFFFFF;
}

.relative {
  position: relative;
}
