.nav, .nav-item, .dropdown-item {
  font-family: 'League Spartan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.hero-text {
  font-family: 'DM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.footer {
  font-family: 'League Spartan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 0.2em;
}

body {
  font-family: 'DM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}
