<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">About</h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About content-->
<div class="container px-5 text-center">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-8 mt-5">
      <h1 class="page-header-ui-title mb-3">Education Commonwealth Project</h1>
      <p class="page-header-ui-text">The Education Commonwealth Project (ECP) at the University of Massachusetts Lowell is guided by the belief that better school quality data can help identify and respond to inequities in students’ school experiences and that real-world assessments of student learning can enable a greater diversity of students to demonstrate their proficiency. Funded by the Massachusetts State Legislature, ECP offers public school districts across the state a new approach to evaluating school quality and student learning. The School Quality Measures data dashboard and Quality Performance Assessments have already been successfully piloted by the Massachusetts Consortium for Innovative Education Assessment (MCIEA), and with financial backing from Massachusetts State Legislature, they are now being made available on a free and open-source basis.
      </p>
      <p class="page-header-ui-text">In place of standardized tests like the MCAS, Quality Performance Assessments emphasize teacher-generated, curriculum-embedded methods to evaluate students’ deeper mastery of content and skills. And seeking to challenge and expand the existing accountability system, the School Quality Measures framework reflects the full scope of what schools do, while also collecting a broader range of data for determining school progress. </p>
      <a class="text-decoration-none" href="#!">
        Read More here
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>

    <div class="col-lg-8 mt-5">
      <h1 class="page-header-ui-title mb-3">History</h1>
      <p class="page-header-ui-text">The Education Commonwealth Project is an extension of the <%= link_to "Massachusetts Consortium for Innovative Education Assessment (MCIEA)", "https://www.mciea.org/" %>. Formed in 2016 with support from the Massachusetts State Legislature, MCIEA is a partnership of eight public school districts–Attleboro, Boston, Lowell, Milford, Revere, Somerville, Wareham, Winchester–and their local teacher unions. The eight MCIEA districts have worked together since 2016, with support from the University of Massachusetts Lowell and the Center for Collaborative Education, to create fairer and more accurate pictures of students and schools. The consortium is co-governed by the superintendents and teachers’ union presidents in recognition of the benefits to such partnerships.  </p>
    </div>

    <div class="col-lg-8 mt-5">
      <h1 class="page-header-ui-title mb-3">Mission</h1>
      <p class="page-header-ui-text">The mission of ECP is to provide districts with the opportunity to adopt the innovative assessment and accountability tools developed by MCIEA. We seek to increase knowledge among school community members about these alternative measurements, build school and district capacity for employing them, and further develop a system that might be adopted across the Commonwealth. In doing so, ECP strives to advance educational assessment that is more valid, more democratic, and more equitable than the current accountability system powered chiefly by a single set of standardized tests. Districts may choose to join MCIEA, or use one or both of the tools independently and tailored to their specific needs.
ECP will partner with any Massachusetts public school district, provided that administrators, educators, and community members are meaningfully engaged. Working with ECP can be as simple as having a conversation with our team about assessment. But we also offer the following full range of resources on a free and open-source basis:
</p>
<ul class="list-group">
  <li class="list-group-item">Field-tested student and educator perception surveys and support for using those surveys</li>
  <li class="list-group-item">Field-tested performance assessments for classroom use, and support for their adoption</li>
  <li class="list-group-item">Support for building a school quality framework or adapting the School Quality Measures framework</li>
  <li class="list-group-item">Support for building school-wide performance tasks to assess student learning</li>
  <li class="list-group-item">Leveraging existing administrative data in new ways</li>
  <li class="list-group-item">Developing team-oriented “walkthroughs” as measures of school performance and use of curriculum-embedded performance assessments</li>
  <li class="list-group-item">Protocols for data use in PLCs or other school improvement efforts, as well as for the creation and administration of high quality performance assessments and reliable scoring of student work</li>
  <li class="list-group-item">A state-of-the-art data dashboard that can be customized for school or district needs</li>
  <li class="list-group-item">Engagement with families and community members around school quality and performance assessment</li>
</ul>
    </div>
  </div>
</div>
