<%= render partial: "layouts/header", locals: {heading: "Quality Performance Assessment"}  %>

<div class="container my-5 px-5">
  <!-- QPA accordions -->
  <div class="row gx-5 justify-content-center">
    <div class="accordion my-5" id="qpaAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button fs-4 fg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is QPA?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Quality Performance Assessment (QPA) moves beyond testing a narrow range of knowledge in one moment of time to rethink how we assess student learning. Performance assessments are teacher-generated, standards-based, and curriculum-embedded, and they allow students to more equitably demonstrate what they know and can do. By providing examples of high quality performance assessments, a toolkit of protocols, and expert guidance, the QPA team seeks to provide a model for reimagining state assessment in Massachusetts and beyond. </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button fs-4 fg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Why QPA?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p> Over the past twenty years, standardized tests have done little to close persistent score disparities by race, income, language, and disability. Additionally, they have often resulted in narrowing of the curriculum and loss of valuable learning time to low-quality test preparation, particularly in school districts with high percentages of students from historically marginalized groups. Performance assessments, by contrast, minimize these unintended consequences by embedding authentic assessments in ordinary classroom practice, and creating more ways for students to demonstrate knowledge and skills. </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button fs-4 fg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Key Features of QPA
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <h3 class="fs-5">Focusing on what is most important for students to learn</h3>
            <p>Assessments should test what is most important. Performance tasks provide opportunities for students to demonstrate their knowledge and skills in multiple ways. High-quality, authentic performance tasks are rich assessment experiences that engage students in meaningful writing, oral presentations, synthesis, analysis, reasoning, problem solving, and collaborative teamwork. QPAs are better suited than traditional standardized tests for preparing students to tackle the kinds of tasks they will encounter in college, the workplace, and as citizens. </p>

            <h3 class="fs-5">Embedding assessment in the learning process</h3>
            <p>Performance tasks are the culmination of curriculum units that enable students to demonstrate what they know and can do. They are an extension of learning as students apply their acquired knowledge and skills in a real-world setting.</p>

            <h3 class="fs-5">Supporting all students in demonstrating knowledge and building skills to create a more equitable future</h3>
            <p>Well designed performance assessments provide opportunities to showcase the brilliance of minoritized students and challenge all students to cultivate competencies for creating a better future such as critical consciousness and anti-racism.</p>

            <h3 class="fs-5">Giving students, educators, and parents a more timely and complete portrayal of student learning</h3>
            <p>Performance tasks provide rich information to facilitate immediate feedback on what a student knows and can do. This data enables teachers to address learning gaps in more timely ways. A portfolio of student work derived from performance assessments within and across academic years provides an in-depth view of how student learning is progressing over time and how knowledge is building towards proficiency of content standards and skills.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button fs-4 fg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            Links
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <%# TODO  link to QPA Resources page %>
            <p> <a class="text-decoration-none" href="#!">
              Learn more on our QPA Resources page
              <i class="bi bi-arrow-right"></i>
            </a> </p>

            <p> <a class="text-decoration-none" href="https://mcieaclassroom.oscarscore.com/#/public/tasks/CCE">
              Search and download QPAs in the MCIEA Task Bank
              <i class="bi bi-arrow-right"></i>
            </a> </p>

            <p> <a class="text-decoration-none" href="https://docs.google.com/document/d/1z6Nz44FHMQXkibv3EBzomL02ZjqZUmaL/edit">
              Create your own QPA with a Performance Task Template
              <i class="bi bi-arrow-right"></i>
            </a> </p>

            <p> <a class="text-decoration-none" href="/team">
              Speak with a member of the QPA team
              <i class="bi bi-arrow-right"></i>
            </a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
