<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Quality Performance Assessment</h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- QPA -->

<div class="container px-5 text-center">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-8 mt-5">
      <h1 class="page-header-ui-title mb-3 mt-5">What is QPA?</h1>

      <p>The Quality Performance Assessment (QPA) project moves beyond testing a narrow range of knowledge in one moment of time to rethink how we assess student learning. Through creating teacher-generated, standards-based, curriculum-embedded, and equity-minded performance assessments, a greater diversity of students are able to demonstrate what they know and a wider range of knowledge and skills can be assessed. By providing examples of high quality performance assessments, a toolkit of protocols, and guidance, the QPA team seeks to provide a model for reimagining state assessment in Massachusetts and beyond. </p>

      <h1 class="page-header-ui-title mt-5">Why QPA?</h1>

      <p>Over the past twenty years, MCAS, the statewide assessment in Massachusetts, has done little to close persistent score disparities  by race, income, language, and disability. Additionally, MCAS has had significant negative impacts by narrowing the curriculum and losing valuable learning time to low-quality test preparation, particularly in school districts with high percentages of students from historically marginalized groups. The use of standardized tests within rigid accountability systems has led to increased inequality in schools, as these measures are consistently correlated with socioeconomic factors and race..</p>

      <h1 class="mt-5"> QPA is designed to address these shortcomings by: </h1>
      <h2>Focusing on what is most important for students to learn </h2>
      <p>Assessments should test what is most important. Performance tasks provide opportunities for students to demonstrate their knowledge and skills in multiple ways. High-quality, authentic performance tasks are rich assessment experiences that engage students in meaningful writing, oral presentations, synthesis, analysis, reasoning, problem solving, collaborative teamwork. QPAs are better suited than traditional standardized tests for preparing students to tackle the kinds of tasks they will encounter in college, the workplace, and as citizens. </p>

      <h2>Embedding assessment in the learning process </h2>

      <p>Performance tasks are the culmination of curriculum units that enable students to demonstrate what they know and can do. They are an extension of learning as students apply their acquired knowledge and skills in a real-world setting.</p>

      <h2>Enabling a greater diversity of students to demonstrate what they know, fostering anti-racism  proficiency</h2>

      <p>With the increasing diversity of students in our public schools, well designed performance assessments provide opportunities to showcase the knowledge and skills of historically marginalized groups and cultivate skills for all students such as critical consciousness and anti-racism.  </p>

      <h2>Giving teachers and parents a more timely and complete portrayal of student learning</h2>
      <p>Performance tasks provide rich information to facilitate immediate feedback on what a student knows and can do. This data enables teachers to address learning gaps in more timely ways. A portfolio of student work derived from performance assessments within and across academic years provides an in-depth view of how student learning is progressing over time and how knowledge is building towards proficiency of content standards and skills. </p>

      <h1 class="mt-5">What QPA Resources Do We Provide? </h1>
      <ul class="list-group">
        <li class="list-group-item">Information about and access to the MCIEA Performance Assessment Task Bank</li>
        <li class="list-group-item">Tools and protocols that can be used to design high quality performance tasks</li>
        <li class="list-group-item">Research and briefs on performance assessment</li>
      </ul>

      <p>
      <a class="text-decoration-none" href="#!">
        Read More About MCIEA’s Free Performance Assessment Task Bank
        <i class="bi bi-arrow-right"></i>
      </a>
      </p>
      <p>
      <a class="text-decoration-none" href="#!">
        Read More About Free QPA tools and protocols
        <i class="bi bi-arrow-right"></i>
      </a>

      </p>
      <p>
      <a class="text-decoration-none" href="#!">
        Read the Research on QPA
        <i class="bi bi-arrow-right"></i>
      </a>

      </p>
      <p>
      <a class="text-decoration-none" href="#!">
        Speak with a Member of the QPA Team
        <i class="bi bi-arrow-right"></i>
      </a>

      </p>
    </div>
  </div>
</div>
